@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
    themes: fasle;
}


@theme {
    --color-primary: #e7272d;
    --color-secondary: #00ff00;
    --color-accent: #0000ff;
    --color-black: #151515;
    /* --color-gray: #C5C6C7; */
    --color-gray: #818992;
    --font-dancing: 'Dancing Script', cursive;
    --font-figtree: 'Figtree', sans-serif;
    --font-garamond: 'EB Garamond', serif;
}

@layer base {
    body {
        color: var(--color-gray);
        font-family: var(--font-figtree);
        font-size: 1.05rem;
    }
    h1{
        color: var(--color-black);
        font-family: var(--font-garamond);
        font-weight: 700;
        font-size: 3rem;
    }
    h2{
        color: var(--color-black);
        font-family: var(--font-garamond);
        font-weight: 600;
        font-size: 2.5rem;
    }
    h3{
        color: var(--color-black);
        font-family: var(--font-garamond);
        font-weight: 600;
        font-size: 1.8rem;
    }
    h4{
        color: var(--color-black);
        font-family: var(--font-garamond);
        font-weight: 600;
        font-size: 1.4rem;
    }
    h5{
        font-family: var(--font-garamond);
        color: var(--color-black);
        font-weight: 600;
        font-size: 1.2rem;
    }
}
.animate {  
    /* display: flex;
    overflow: hidden; */
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.animate.show {
    opacity: 1;
    transform: translateY(0);
}
.animate:nth-child(1) {
    transition-delay: 0ms;
}
.animate:nth-child(2) {
    transition-delay: 300ms;
}
.animate:nth-child(3) {
    transition-delay: 600ms;
}


@keyframes appear {
    0% {
        /* opacity: 0; */
        transition: opacity 0.3s transform 0.3s ease-out;
        transform: translateY(500px);
    }
    88% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.loader {
    animation: loader 1s infinite;
}
@keyframes loader {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    33% {
        transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
    }
    66% {
        transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}
#menu li {
    border-bottom: 4px solid transparent;
    transition: all 0.3s ease-in-out; 
}
#menu li:hover {
    border-bottom: 4px solid var(--color-primary);
}